@using Vaccines_and_Travel_Clinic.DAL;

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sales;
    int orders;
    int items;
    int appointments;

    using (ClinicContext db = new ClinicContext())
    {
        sales = db.Sales.Count();
        orders = db.Orders.Count();
        items = db.Items.Sum(i => i.Count);
    }
    
    using (CalendarContext db = new CalendarContext())
    {
        appointments = db.Appointments.Count();
    }
}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<h2>Dashboard</h2>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <span style="font-size:2.5em" class="glyphicon glyphicon-usd"></span>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@sales</div>
                        <div>Sales</div>
                    </div>
                </div>
            </div>
            <a href="~/Sales">
                <div class="panel-footer">
                    <span class="pull-left">View Sales</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <span style="font-size:2.5em" class="glyphicon glyphicon-shopping-cart"></span>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@orders</div>
                        <div>Orders</div>
                    </div>
                </div>
            </div>
            <a href="~/Orders">
                <div class="panel-footer">
                    <span class="pull-left">View Orders</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <span style="font-size:2.5em" class="glyphicon glyphicon-qrcode"></span>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@items</div>
                        <div>Items</div>
                    </div>
                </div>
            </div>
            <a href="~/Items">
                <div class="panel-footer">
                    <span class="pull-left">View Items</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <span style="font-size:2.5em" class="glyphicon glyphicon-calendar"></span>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@appointments</div>
                        <div>Appointments</div>
                    </div>
                </div>
            </div>
            <a href="~/Calendar">
                <div class="panel-footer">
                    <span class="pull-left">View Appointments</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Sales
            </div>
            <div class="panel-body">
                <div id="area-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Orders
            </div>
            <div class="panel-body">
                <div id="line-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Items
            </div>
            <div class="panel-body">
                <div id="bar-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Appointments
            </div>
            <div class="panel-body">
                <div id="donut-chart"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $.get('@Url.Action("Sales")', function (result) {
        new Morris.Area({
            element: 'area-chart',
            xkey: 'month',
            ykeys: ['value'],
            labels: ['Sales'],
            hideHover: 'auto',
            resize: true,
            data: result,
            preUnits: '$',
            parseTime: false,
            //xLabelAngle: 70,
            xLabels: "month",
        });
    });

    $.get('@Url.Action("Orders")', function (result) {
        new Morris.Line({
            element: 'line-chart',
            xkey: 'month',
            ykeys: ['value'],
            labels: ['Orders'],
            hideHover: 'auto',
            resize: true,
            data: result,
            preUnits: '$',
            parseTime: false,
            //xLabelAngle: 70,
            xLabels: "month",
        });
    });

    $.get('@Url.Action("Items")', function (result) {
        new Morris.Bar({
            element: 'bar-chart',
            xkey: 'name',
            ykeys: ['value'],
            labels: ['Count'],
            hideHover: 'auto',
            resize: true,
            data: result,
            xLabelAngle: 75
        });
    });

    $.get('@Url.Action("Appointments")', function (result) {
        new Morris.Donut({
            element: 'donut-chart',
            hideHover: 'auto',
            resize: true,
            data: result,
        });
    });
</script>
